body {
    margin: 0;
    padding: 0;
    background-color: #3d969050;
    color: #023026;
}

table {
    border: 2px solid #023026;
    margin: 1em;
}

td {
    padding: .1em .2em;
}

th {
    text-align: left;
}

details {
    border: 1px solid;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    background-color: #3d969050;
}

details>summary {
    transition: all .5s ease;
    list-style: none;
    color: #023026;
    border-radius: 10px;
    padding-top: -3em;
    display: inline-block;
    width: 100%;
}
details>summary>h1,h2,h3,h4,h5,h6 {
    margin: 1em;
}

summary:hover {
    transition: all .1s linear;
    background-color: #3d9690;
    cursor: pointer;
}

span {
    text-decoration-line: underline;
    transition: all .1s linear;
}

span:hover {
    transition: all .1s linear;
    color: white;
}