body {
    margin: 0;
    padding: 0;
}

.critTable {
    border: 1px solid;
    width: 100%;
    border-collapse: separate;
}

.critTable th {
    font-weight: bold;
    text-align: left;
}

.critTable tr:nth-of-type(even) {
    background-color: #DCEDFF;
}

.critTable tr:hover {
    background-color: #98caff;
}

#random {
    background-color: #98caff;
}

.sticky {
    position: sticky;
    top: 0;
}